.container {
    margin: 0 auto;
    font-family: 'Montserrat', serif;
}

.header {
    background: url("../img/header-background.png") no-repeat center;
    background-size: cover;
    height: 100vh;
}

.nav-bar {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3));

}

.logo-section {
    display: flex;
    align-items: center;
    color: #fff;
}

.top-hex {
    width: 0;
    border-bottom: 19px solid #18cfab;
    border-left: 29px solid transparent;
    border-right: 29px solid transparent;
}

.mid-hex {
    box-sizing: border-box;
    width: 58px;
    height: 29px;
    background-color: #18cfab;
    font-weight: 800;
    font-size: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-right: 1.5px;
}

.bottom-hex {
    width: 0;
    border-top: 19px solid #18cfab;
    border-left: 29px solid transparent;
    border-right: 29px solid transparent;
}

.logo-text {
    margin-left: 10px;
    font-size: 15pt;
}

.logo-text > .green-text {
    font-weight: 900;
}

.green-text {
    color: #18cfab;
}

.nav-link {
    display: flex;
    align-items: center;
    font-weight: bold;
}

.nav-link-item {
    display: inline-block;
    position: relative;
    font-size: 13px;
    margin-right: 15px;
    padding: 55px 0;
}

.nav-link-item > a {
    color: #b8b8b8;
    text-decoration: none;

}

.nav-link-item > a:hover {
    color: #18cfab;
    border-bottom: 2px solid #18cfab;
    padding: 55px 0;
}

.search-image {
    width: 22px;
    height: 22px;
}

.content {
    padding: 100px 0;
    display: flex;
    flex-direction: column;
    color: #fff;
}

.upper-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 250px;

}

.content-upper-text {
    font-size: 35px;
    font-weight: bold;
    margin: 0 auto;
}

.content-middle-text {
    font-size: 70px;
    font-weight: bold;
    margin: 0 auto;
}

.content-bottom-text {
    font-size: 30px;
    margin: 0 auto;
    color: #d4d4d4;
}

.content-buttons {
    display: flex;
    padding-top: 142px;
    align-items: center;
    justify-content: center;
}

.content-button {
    box-sizing: border-box;
    padding: 24px 26px;
    border-radius: 5px;
    background-color: #00cbf6;
    width: 166px;
    height: 61px;
    text-decoration: none;
    text-align: center;
    font-size: 13px;
    font-weight: bold;
    color: #fff;
    margin-right: 20px;
    box-shadow: 0 -5px #fff;
}

.content-button-green-color{
    background-color: #18cfab;
}

.content-button + .content-button {
    margin-left: 30px;
}

.features {
    display: flex;
}

.features-item:nth-of-type(1), .features-item:nth-of-type(3) {
    flex-basis: 25%;
    background-color: #1c2a33;
    color: #fff;
    height: 374px;
    text-transform: uppercase;
    padding: 100px 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.features-item:nth-of-type(2), .features-item:nth-of-type(4) {
    flex-basis: 25%;
    background-color: #18cfab;
    height: 374px;
    color: #fff;
    text-transform: uppercase;
    padding: 100px 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;

}

.our-services {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 70px;
}

.our-services-content-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 1267px;
}

.our-services-navigation {
    display: flex;
    justify-content: center;
}

.our-services-navigation-item {
    padding: 29px 48px;
    border: 1px solid #eff0f1;
    background-color: #f8fcfe;
    color: #717171;
}

.our-services-navigation-item-active::after{
    content: '';
    background-color: #18cfab;
    width: 26px;
    height: 24px;
    position: absolute;
    transform: rotate(45deg);
    left: calc(50% - 13px);
    bottom: -8px;
}

.our-services-navigation-item-active {
    background-color: #18cfab;
    color: #fff;
    position: relative;

}

.active-text {
    display: flex;
    justify-content: space-between;
    padding: 25px 0;
    line-height: 23px;
}

.our-services-content-image {
    margin-right: 20px;
}

.purchase {
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("../img/purchase-background.png") no-repeat center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 128px;
}

.purchase-text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.purchase-upper-text {
    font-size: 40px;
    font-weight: 800;
    color: #18cfab;
    margin-bottom: 35px;
}

.purchase-bottom-text {
    font-size: 16px;
    color: #fff;
    margin-bottom: 75px;

}

.purchase-button {
    background-color: #18cfab;
    padding: 25px;
    text-decoration: none;
    color: #fff;
    font-weight: 800;
    box-shadow: 0 -5px #fff;
    border-radius: 5px;
}

.our-work {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content-header {
    position: relative;
    font-size: 36px;
    padding: 100px 0;
}

.content-header::after {
    content: '';
    display: block;
    position: absolute;
    width: 77px;
    height: 4px;
    border-top: 1px solid #18cfab;
    border-bottom: 1px solid #18cfab;
    transform: skewX(70deg);
    bottom: 28%;
    left: calc(50% - 77px / 2);
}

.our-work-navigation {
    display: flex;
    margin-bottom: 70px;
}

.our-work-item {
    display: flex;
    padding: 22px;
    border: 1px solid #ebebeb;
    color: #717171;
    user-select: none;
}

.our-work-item-active {
    border-top: 2px solid #18cfab;
    padding: 21px 22px;
}

.gallery-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.our-work-gallery {
    display: flex;
    justify-content: center;
    width: 1142px;
    margin: 0 auto;
    flex-wrap: wrap;
}

.card-item {
    position: relative;
    height: 207px;
}

.card-title {
    font-size: 20px;
    color: #18cfab;
    font-weight: bold;
    margin-bottom: 14px;
}

.card-category {
    color: #8a8a8a;
}

.card-hover {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    height: calc(100% - 3px);
    width: 100%;
    background-color: #fff;
    border-top: 3px solid #18cfab;
    top: 0;
    left: 0;
}

.hover-link-container {
    display: inline-block;
    padding: 14px 14px 11px 14px;
    border: 1px solid #18cfab;
    border-radius: 50%;
    margin: 37px 5px 24px 0
}

.hover-search-container {
    display: inline-block;
    padding: 14px 14px 11px 14px;
    border: 1px solid #18cfab;
    border-radius: 50%;
}

.hover-link-container:hover {
    background-color: #18cfab;
}

.hover-link-container:hover > .hover-img-link {
    background: url("../img/hover-link2.png");
}

.hover-search-container:hover {
    background-color: #18cfab;
}

.hover-search-container:hover > .hover-img-search {
    background: url("../img/hover-search2.png");
}

.hover-img {
    display: inline-block;
    width: 16px;
    height: 16px;
}

.hover-img-link {
    background: url("../img/hover-link.png");
}

.hover-img-search {
    background: url("../img/hover-search.png");
}

.load-button {
    padding: 25px;
    margin-top: 71px;
    background-color: #18cfab;
    color: #fff;
    border-radius: 5px;
    font-weight: bold;
    display: flex;
    align-items: center;
    border: none;
}

.load-button > img {
    margin-right: 16px;
}

.load-button {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}

.footer {
    background-color: #22353f;
    color: #8a8d8f;
    font-size: 14px;
    text-align: center;
    padding: 47px 0;
    margin-top: 95px;
}


.loader {
    border: 4px solid #f3f3f3;
    border-radius: 50%;
    border-top: 4px solid #18cfab;
    width: 50px;
    height: 50px;
    animation: spin 2s linear infinite;
    margin-top: 20px;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}